<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tambahkan Domain</title>
    <h1>Tambahkan Domain</h1>
    <form method="post" action="/addsubdomain">
        <p>access code: <input type="text" name="access_code"></p>
        <p>domain: <input type="text" name="domain"></p>
        <p>server: <select name="server">
    <option value="Arcturus">Arcturus</option>
    <option value="Sirius">Sirius</option>
  </select></p>
        <p><input <input type = "submit" value = "submit" /></p>

    </form>
</head>
<body>

</body>
</html>